@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/made-soulmaze");
html {
  font-size: 10px;
  scroll-behavior: smooth;
  line-height: 1.6;
}

body {
  font-family: "pretendard";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  vertical-align: top;
  border: 0;
}

a:focus, button:focus {
  outline: 0;
}

address, i, em {
  font-style: normal;
}

label, button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.blind {
  position: absolute;
  left: -9999em;
}

.hidden {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

:before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  color: #fff;
  background-color: #000;
}

#pf_header {
  position: relative;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid #666;
}
#pf_header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99.5%;
  margin: 0 auto;
}
#pf_header .header_wrap .logo a {
  display: block;
  width: 5rem;
  margin-left: 2rem;
}
#pf_header .header_wrap .logo a img {
  width: 100%;
}
#pf_header .header_wrap .logo a img:hover {
  -webkit-transform: rotate(100000deg);
          transform: rotate(100000deg);
  -webkit-transition: 500s;
  transition: 500s;
}
#pf_header .header_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#pf_header .header_wrap ul li {
  position: relative;
}
#pf_header .header_wrap ul li a {
  display: block;
  padding: 2rem 3.5rem;
  font-size: 2.5rem;
  color: #fff;
}
#pf_header .header_wrap ul li a:hover {
  color: #00d67a;
}

/* 애니메이션 */
.ani_top {
  opacity: 0;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
  -webkit-transition: 2s;
  transition: 2s;
}

.ani_right {
  opacity: 0;
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ani_left {
  opacity: 0;
  -webkit-transform: translateX(-15rem);
          transform: translateX(-15rem);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ani_one {
  opacity: 0;
  -webkit-transform: translate(20rem 20rem);
          transform: translate(20rem 20rem);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ani_bg {
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ani_opacity {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.fade_in {
  opacity: 0.8;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fade_opacity {
  opacity: 1;
}

@-webkit-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  100% {
    border-color: transparent;
  }
}
@keyframes blink {
  100% {
    border-color: transparent;
  }
}
#pf_main_container .home_container .home_wrap {
  position: relative;
  max-width: 155rem;
  height: 100%;
  margin: 0 auto;
}
#pf_main_container .home_container .home_wrap .txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#pf_main_container .home_container .home_wrap .txtbox .name {
  font-size: 35rem;
  font-family: "MADE Soulmaze Outline";
  font-weight: bold;
  color: transparent;
  line-height: 0.74;
  -webkit-text-stroke: 0.2rem #00d67a;
}
#pf_main_container .home_container .home_wrap .txtbox .name .name2 {
  margin-left: 5rem;
}
#pf_main_container .home_container .home_wrap .txtbox .portfolio {
  font-size: 15rem;
  font-family: "MADE Soulmaze Outline";
  font-weight: bold;
  color: transparent;
  line-height: 0.65;
  -webkit-text-stroke: 0.2rem #fff;
}
#pf_main_container .home_container .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: 9rem;
  height: 1rem;
  margin-top: 12rem;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}
#pf_main_container .home_container .number li {
  width: 20%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}
#pf_main_container .home_container .number li.item1 {
  background-color: #00d67a;
  -webkit-animation: blink-effect 2s step-end infinite;
          animation: blink-effect 2s step-end infinite;
  opacity: 1;
}
#pf_main_container .home_container .number li a {
  display: block;
  width: 100%;
  height: 100%;
}