body {
    color:#fff;
    background-color: #000;
}
#pf_header {
    position: relative;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid #666;
    .header_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:99.5%;
        margin: 0 auto;
        .logo {
            a {
                display: block;
                width: 5rem;
                margin-left: 2rem;
                img {
                    width: 100%;
                    &:hover {
                        transform: rotate(100000deg);
                        transition: 500s;
                    }
                }
            }
        }
        ul {
            display: flex;
            li {
                position: relative;
                a {
                    display: block;
                    padding: 2rem 3.5rem;
                    font-size: 2.5rem;
                    color:#fff;
                    &:hover {
                        color:#00d67a;
                    }
                }
            }
        }
    }
}