body {
    color:#fff;
    background-color: #000;
    &.hidden {overflow: hidden;}
}
#portfolio_hd {
    .hd_container {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        z-index: 100;
        .hd_wrap {
            height: 6rem;
            h1 {
                width: 5rem;
                padding: 1rem;
                a {
                    img {
                    width: 100%;
                    }
                }
            }
            .gnb_open {
                // display: none;
                position: absolute;
                right: 2rem;
                top: 50%;
                width: 4rem;
                height: 4rem;
                transform: translateY(-50%);
                .line {
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    width: 2.5rem;
                    height: 0.2rem;
                    border-radius: 0.1rem;
                    background-color: #fff;
                    overflow: hidden;
                    text-indent: -9999rem;
                    transition: 0.3s;
                }
                .line1 {
                    transform: translateY(-7px);
                }
                .line3 {
                    transform: translateY(7px);
                }
            }
            .map {
                position: fixed;
                right: 200rem;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                overflow: auto;
                transition: right 0.8s, opacity 1.5s;
                background-color: #000;
                z-index: 9999;
                &.active {
                    right:0;
                    opacity: 1;
                }
                .gnb_close {
                    position: absolute;
                    right: 2rem;
                    top: 0.9rem;
                    width: 4rem;
                    height: 4rem;
                    .line {
                        position: absolute;
                        left: 1rem;
                        top: 50%;
                        width: 2rem;
                        height: 0.2rem;
                        border-radius: 0.1rem;
                        background-color: #fff;
                        overflow: hidden;
                        text-indent: -9999rem;
                        transition: 0.3s;
                    }
                    .line {
                        background-color: #fff;
                    }
                    .line1 {
                        transform: rotate(-45deg);
                    }
                    .line2 {
                        opacity: 0;
                    }
                    .line3 {
                        transform: rotate(45deg);
                    }
                }
                .depth1 {
                    padding: 10rem 0 0 2rem;
                    >ul {
                        >li {
                            >a {
                                display: inline-block;
                                font-size: 4rem;
                                font-weight: 600;
                                color:#fff;
                                &:hover {text-decoration: line-through;}
                            }
                        }
                    }
                }
            }
        }
    }
}